/*******************************************/
/* Base Styling */
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root {
    --color-one: #F4F9F4;
    --color-two: #C4E3CB;
    --color-three: #8AAE92;
    --color-four: #616161;
}

body, h1, h2, h3, h4, h5, p {
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--color-four);
}

.page-head {
    font-size: 3rem;
    text-align: center;    
    background-color: var(--color-four) !important;
    color: var(--color-one);
    padding: 1em;
    font-weight: 500;
    line-height: 1.2;        
}


/*******************************************/
/* Nav Bar */
/*******************************************/

header {
    background-color: var(--color-two);
    color: var(--color-four);
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 5.5em;
}

header h1 {    
    display: inline !important;
    padding-left: 1em !important;
    background-color: var(--color-two) !important; /* !important used here to override bootstrap styling */
    font-size: 2em;
    font-weight: 600;
    line-height: unset; /* !important used here to override bootstrap styling */
}

header nav {
    padding-right: 1em !important;
    display: inline !important;
    float: right !important;
    margin: 0 !important;
}

header nav a {
    text-decoration: none;
    color: var(--color-four);
    margin-right: 2em;
    font-weight: 600;
}

header nav a.active {
    border-color: var(--color-four);
    border-bottom-style: solid;
    border-width: 3px;
}

header nav a:hover {    
    text-decoration: none;
    border-color: var(--color-three);
    border-bottom-style: solid;
    border-width: 3px;
    color: var(--color-four);
}


/*******************************************/
/* Footer */
/*******************************************/

footer {
    width: 100%;
    display: inline-block;
    background-color: var(--color-three);
}

footer p {
    background-color: var(--color-three) !important; /* !important used here to override bootstrap styling */
    color: var(--color-four);
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 5.5em;
    font-size: medium;
    font-weight: 600;
    padding-left: 3em;
    display: inline-block;
}

footer ul {
    background-color: var(--color-three);
    list-style-type: none;
    display: inline-flex;
    float: right;
    line-height: 5.5em;
    margin: 0;
    padding-right: 3em;
}

footer ul a {
    text-decoration: none;
    color: var(--color-four);
    font-size: x-large;
    margin: 0 0 0 1em;
}

footer ul a:hover {
    color: var(--color-two);
}


/*******************************************/
/* Index Page */
/*******************************************/

.dark-bg {
    background-color: var(--color-four) !important;
}

/********/
/* Text */
/********/

.fg-text {
    background-color: var(--color-four);
    text-align: center;
    vertical-align: middle;
}

.fg-text h2, .fg-text h3, .fg-text p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 2em;
    background-color: var(--color-four) !important;
    vertical-align: middle;
}

.fg-text h2 {
    font-size: 4rem;
    padding: 1em 0;
}

.fg-text h3 {
    font-size: 3rem;
    margin: 1em 0;
}

.fg-text p {
    font-size: 2rem;
    margin: 2em 2em 0 2em;
    padding-bottom: 2em;
}

.fg-text i {
    font-size: 3rem;
    color: white;
}

/*********/
/* Image */
/*********/

.bg-img img {
    width: 100%;
    height: auto;
    display: inline-block;

}


/*******************************************/
/* About Us Page */
/*******************************************/

.about-content {
    background-color: var(--color-two);
}

.container {
    padding: 0 !important;
}

.about-item {
    padding-top: calc(var(--bs-gutter-x) * 1.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 1.5) !important;
    padding-right: calc(var(--bs-gutter-x) * 1.5) !important;
    padding-bottom: 0 !important;
}

.row:last-of-type {
    padding-bottom: calc(var(--bs-gutter-x) * 1.5) !important;
}

/********/
/* Text */
/********/

.about-text {
    margin: auto;
    text-align: justify;
}

/*********/
/* Iamge */
/*********/

.about-item img {
    border-radius: 5%;
}

/*********/
/* video */
/*********/

.main-video {
    width: 100%;
    background-color: var(--color-four);
}

.main-video video {   
    width: 50% !important; 
    height: auto !important;
    background-color: var(--color-four);
    padding: 3em 0;
    margin-left: 25%;
}


/*******************************************/
/* Our Animals Page */
/*******************************************/

.oa-page {
    background-color: var(--color-two) !important;
}

.animal-nav {
    text-align: center;
}

.animal-nav a {
    text-align: center;
    width: 20%;
    margin: auto;
    background-color: var(--color-three) !important;
    color: var(--color-four);
    cursor: pointer;
    display: inline-block;
    border-width: 0;
    margin-top: 2em;
    font-size: large;
    height: 3em;
    line-height: 3em;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 4px;
    text-decoration: none;
}

.animal-nav a:hover {
    color: var(--color-one) !important;
}

.animal-container {
    display: block;
    height: min-content;
    background-color: var(--color-two);
}

.animal-content {
    margin: 0 3em 0 3em;
}

#dog, #cat {
    margin-top: 3em;
}

#cat {
    padding-bottom: 3em;
}

.animial_ours {
    display: block;
    width: 90%;
    border-radius: 5%;
    margin: auto;
}

.card {
    background-color: var(--color-four);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.40);
    width: 30% !important;
    display: inline-block;
    padding-top: 2em;
    margin: 1em;
    border-radius: 5%;
}

.card p {
    margin: 2em;
    color: var(--color-one);
}

.card-container {
    text-align: center;
}


/*******************************************/
/* Fundraising Page */
/*******************************************/

.fr-header {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 2em;
}

.fr-page {
    background-color: var(--color-two) !important;
}

.fr-row {
    width: 100%;
    display: inline-flex;
}

.fr-row:nth-child(odd) {
    background-color: var(--color-three) !important;
}

.fr-column {
    width: 50%;
}

.fr-column:nth-child(odd) {
    float: left;
}

.fr-column:nth-child(even) {
    float: right;
}

.fr-month {
    margin-top: 2em;
    text-align: center;
}

.fr-desc {
    margin-top: 1em;
    text-align: center;
    font-size: 1.3em;
}

.fr-event-date{
    text-align: center;
    font-size: 1.2em;
    margin: 1rem 0;
}

.fr-event-desc {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 2em;
}


/*******************************************/
/* Contact Us Page */
/*******************************************/

.cu-page {
    background-color: var(--color-four);
}

.form-bg {
    background-color: var(--color-one);
}

/********/
/* Form */
/********/

form {
    border-radius: 5px;
    background-color:var(--color-one);
    color: var(--color-four);
    padding: 20px;
    width: 50%;
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 3em;
}

form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

form input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    resize: none;
}

form input[type=checkbox], select {
    padding: 12px 20px;
    margin: 8px 0;
    align-self: flex-start;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

form input[type=submit] {
    width: 25%;
    background-color: var(--color-two);
    color: var(--color-four);
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    margin-top: 3em;
    display: block;
}

form input[type=reset] {
    width: 25%;
    background-color: var(--color-two);
    color: var(--color-four);
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    display: block;
    margin-top: 1em;
}

form input[type=submit]:hover {
    background-color: var(--color-three);
    font-family: 'Montserrat Alternates', sans-serif;
}

form input[type=reset]:hover {
    background-color: var(--color-three);
    font-family: 'Montserrat Alternates', sans-serif;
}


/*******************/
/* Contact Details */
/*******************/

/***********/
/* Address */
/***********/

.cu-address {
    width: 50%;
    text-align: end;
    position: absolute;
    padding: 2em 0;
}

.cu-address p {
    color: var(--color-one);
}

.cu-address p {
    margin-right: 5em;
}

/**************/
/* Map iframe */
/**************/

.cu-iframe {
    width: 50%;
    position: relative;
    float: right;
    padding: 2em 0;
}

.cu-iframe iframe {
    width: 350px;
    height: 350px;
}

/*******************************************/
/* 404 Page */
/*******************************************/

.error-img {
    width: 100%;
    height: auto;
    display: block;
}

.error404 {
    text-align: center;
    margin: 2em auto;
    padding: 2em;
    background-color: var(--color-two);
    color: var(--color-four);
    text-decoration: none;
    display: block;
    width: 50%;
    font-size: 1rem;
    font-weight: 600;
}

.error404:hover {
    background-color: var(--color-three);
    color: white;
}

/*******************************************/
/* Media Queries for Responsive Design */
/*******************************************/

/**************/
/* Header/Nav */
/**************/

@media only screen and (max-width: 1100px) {
    
    header {
        line-height: 5em;
    }

    header h1 {
        padding-left: 0.5em !important;
        font-size: 1em;
        display: inline-block !important;
    }

    header nav {
        padding-right: 0.5em !important;
        display: inline-block !important;
    }

    header nav a {
        font-size: 0.75em;
        margin-right: 0.5em;
        font-weight: 600;
    }

}

@media only screen and (max-width: 650px) {

    header {
        line-height: 3em;
        text-align: center;
    }

    header h1 {
        padding-left: 0 !important;
        font-size: 1em;
        line-height: 2em;
        display: block !important;
    }
    header nav {
        padding-left: 0 !important;
        font-size: 1em;
        line-height: 2em;
        float: none !important;
        line-height: 2em;
        padding-right: 0 !important;
    }

    header nav a {
        font-size: 0.75em;
        margin-right: 0.5em;
        font-weight: 600;
    }
    
}

/*****************/
/* Footer/Social */
/*****************/

@media only screen and (max-width: 1100px) {
    
    footer {
        line-height: 5em;
    }
}

@media only screen and (max-width: 650px) {
    
    footer {
        line-height: 4em;
    }

    footer li a {
        font-size: 0.75em;
    }

    footer ul {
        line-height: 4em;
    }

    footer p {
        font-size: 0.75em;
        margin-right: 0.5em;
        font-weight: 600;
        line-height: 4em;
    }

}

@media only screen and (max-width: 457px) {
    
    footer ul {
        text-align: center;
        float: none;
        padding-inline-start: 0 !important;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        display: block;
        padding: 0;
    }

    footer li {
        display: inline-block;
    }

    footer p {
        display: block;
        text-align: center;
    }

}

/*************/
/* Page Head */
/*************/

@media only screen and (max-width: 700px) {
    
    .page-head {
        font-size: 1.5rem;
    }
    
}

/*********/
/* Index */
/*********/

@media only screen and (max-width: 600px) {
    
    .fg-text h2 {
        font-size: 2rem;
    }
    
    .fg-text h3 {
        font-size: 2rem;
    }
    
    .fg-text p {
        font-size: 1rem;
    }

} 

/************/
/* About Us */
/************/

@media only screen and (max-width: 767px) {
    
    .sm-order-first {
        order: -1 !important;
    }

} 

/***********/
/* Animals */
/***********/

@media only screen and (max-width: 1100px) {
    
    .animal-content {
        margin: 0;
    }

    .animal-content h2 {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 1em;
    }

    .card {
       margin-bottom: 2em;
       width: 80% !important;
       margin-left: auto;
       margin-right: auto;
       display: block;
    }

    .card-container {
        padding-bottom: 0.5em;
    }

}

/***************/
/* Fundraising */
/***************/

@media only screen and (max-width: 1000px) {
    
    body, h1, h2, h3, h4, h5, p {
        font-size: small;
    }

    .fr-row {
        display: inline-block;
    }

    .fr-column {
        width: 100%;
    }

    .fr-column:nth-child(odd) {
        background-color: var(--color-three);
    }

    .fr-column:nth-child(even) {
        background-color: var(--color-two);
    }

}

/***********/
/* Contact */
/***********/

@media only screen and (max-width: 1100px) {
    
    form {
        width: 80%;
    }

    form input[type=submit] {
        width: 100%;
    }
    
    form input[type=reset] {
        width: 100%;
    }

    .cu-address {
        width: 100%;
        text-align: center;
        position: relative;
        font-size: 1rem;
        background-color: var(--color-four);
    }

    .cu-address p {
        margin-right: 0;
    }

    .cu-iframe {
        width: 100%;
        float: none;
        background-color: var(--color-four);
    }

    .cu-iframe iframe {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}

@media only screen and (max-width: 450px) {
    .cu-iframe iframe {
        width: 90%;
        height: auto;
    }
}
