/****************/
/* Base Styling */
/****************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

:root {
    --background: #F4F9F4;
    --main: #C4E3CB;
    --contrast: #8AAE92;
    --font: #616161;
}

body, h1, h2, h3, h4, h5, p {
    background-color: var(--background) !important; /* !important used here to override bootstrap styling */
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0;
    margin: 0;
}

/***********/
/* Nav Bar */
/***********/

header {
    background-color: var(--main);
    color: var(--font);
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 5.5em;
}

header h1 {    
    display: inline !important;
    padding-left: 1em !important;
    background-color: var(--main) !important; /* !important used here to override bootstrap styling */
    font-size: 2em;
    font-weight: 600;
    line-height: unset; /* !important used here to override bootstrap styling */
}

header nav {
    padding-right: 1em !important;
    display: inline !important;
    float: right !important;
    margin: 0 !important;
}

header nav a {
    text-decoration: none;
    color: var(--font);
    margin-right: 2em;
    font-weight: 600;
}

header nav a.active {
    border-color: var(--font);
    border-bottom-style: solid;
    border-width: 3px;
}

header nav a:hover {    
    text-decoration: none;
    border-color: var(--contrast);
    border-bottom-style: solid;
    border-width: 3px;
    color: var(--font);
}

.w3css-remove h1 {
    font-size: 2em !important;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 1100px) {
    
    header {
        line-height: 5em;
    }

    header h1 {
        padding-left: 0.5em !important;
        font-size: 1em;
        display: inline-block !important;
    }

    header nav {
        padding-right: 0.5em !important;
        display: inline-block !important;
    }

    header nav a {
        font-size: 0.75em;
        margin-right: 0.5em;
        font-weight: 600;
    }

}

@media only screen and (max-width: 650px) {

    header {
        line-height: 3em;
        text-align: center;
    }

    header h1 {
        padding-left: 0 !important;
        font-size: 1em;
        line-height: 2em;
        display: block !important;
    }
    header nav {
        padding-left: 0 !important;
        font-size: 1em;
        line-height: 2em;
        float: none !important;
        line-height: 2em;
        padding-right: 0 !important;
    }

    header nav a {
        font-size: 0.75em;
        margin-right: 0.5em;
        font-weight: 600;
    }
    
}

/**********/
/* Footer */
/**********/

footer {
    width: 100%;
    display: inline-block;
    background-color: var(--contrast);
}

footer p {
    background-color: var(--contrast) !important; /* !important used here to override bootstrap styling */
    color: var(--font);
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 5.5em;
    font-size: medium;
    font-weight: 600;
    padding-left: 3em;
    display: inline-block;
}

footer ul {
    background-color: var(--contrast);
    list-style-type: none;
    display: inline-flex;
    float: right;
    line-height: 5.5em;
    margin: 0;
    padding-right: 3em;
}

footer ul a {
    text-decoration: none;
    color: var(--font);
    font-size: x-large;
    margin: 0 0 0 1em;
}

footer ul a:hover {
    color: var(--main);
}

#fr-footer {
    margin-top: 5em;
}

#cu-footer {
    margin-top: 18em;
}

#ou-footer {
    margin-top: 5em;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 1100px) {
    
    footer {
        line-height: 5em;
    }
}

@media only screen and (max-width: 650px) {
    
    footer {
        line-height: 4em;
    }

    footer li a {
        font-size: 0.75em;
    }

    footer ul {
        line-height: 4em;
    }

    footer p {
        font-size: 0.75em;
        margin-right: 0.5em;
        font-weight: 600;
        line-height: 4em;
    }

}

@media only screen and (max-width: 457px) {
    
    footer ul {
        text-align: center;
        float: none;
        padding-inline-start: 0 !important;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        display: block;
        padding: 0;
    }

    footer li {
        display: inline-block;
    }

    footer p {
        display: block;
        text-align: center;
    }

}

/*******************************************/
/* Index Page */
/*******************************************/

/*************/
/* Main Body */
/*************/

section {
    height: 95vh;
    position: relative;
}

/********************/
/* Bankground Image */
/********************/

.bg-img {
    /* Dimentions */
    width: 100%;
    height: 95vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*******************/
/* Foreground Text */
/*******************/

.fg-main {
    background-color: var(--background) !important;    /* Fallback color */ /* !important used here to override bootstrap styling */
    background-color: rgba(225, 225, 225, 0.8) !important;    /* Black w/opacity/see-through */ /* !important used here to override bootstrap styling */
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(12.5%, 12.5%);
    width: 80%;
    height: 80%;
    border-radius: 1%;
}

.fg-text {
    position: inherit;
    top: 20%;
    width: 100%;
}

.fg-text h1, .fg-text h3, .fg-text p {
    background-color: var(--background) !important;    /* Fallback color */ /* !important used here to override bootstrap styling */
    background-color: rgba(225, 225, 225, 0) !important;    /* Black w/opacity/see-through */ /* !important used here to override bootstrap styling */
    color: var(--font);
    font-weight: bold;
    text-align: center;
}

.fg-text h1 {
    font-size: 70px;
}

.fg-text h3 {
    font-size: 45px;
    margin-top: 2em;
}

.fg-text p {
    font-size: 20px;
    margin: 7em 3em 0 3em;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 1100px) {
    
    .bg-img {
        /* Dimentions */
        width: 100%;
        height: auto;
    }

    .fg-text h1 {
        font-size: 40px;
        margin: 0 1em;
    }
    
    .fg-text h3 {
        font-size: 30px;
    }
    
    .fg-text p {
        font-size: 18px;
        margin-top: 3em;
    }

}

@media only screen and (max-width: 900px) {
    
    .fg-text h1 {
        font-size: 30px;
        margin: 0 1em;
    }
    
    .fg-text h3 {
        font-size: 20px;
    }
    
    .fg-text p {
        font-size: 15px;
        margin-top: 3em;
    }

} 

@media only screen and (max-width: 700px) {
    
    .fg-text h1 {
        font-size: 20px;
    }
    
    .fg-text h3 {
        display: none;
    }
    
    .fg-text p {
        font-size: 15px;
        margin-top: 1em;
    }

} 

/*******************************************/
/* About Us Page */
/*******************************************/

.about_content {
    display: grid;
    margin-top: 3em;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 10px;
}

/********/
/* Text */
/********/

.about_text {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--font);
    width: 55%;
    margin: auto;
    text-align: justify;
    font-size: larger;
}

/**********/
/* Images */
/**********/

.animal_hero {
    width: 500px;
    border-radius: 5%;
    margin: auto;
    display: block;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 1100px) {
    
    section {
        height: auto;
    }

    .about_content {
        display: block;
        margin-top: 2em;
        padding: 0;
    }
    
    .about_text {
        text-align: center;
        font-size: large;
        margin-bottom: 2em;
    }
    .animal_hero {
        display: none;
    }
}

/*******************************************/
/* Our Animals Page */
/*******************************************/

.animal-nav {
    text-align: center;
}

.animal-nav a {
    text-align: center;
    width: 20%;
    margin: auto;
    background-color: var(--main) !important;
    color: var(--font);
    cursor: pointer;
    display: inline-block;
    border-width: 0;
    margin-top: 2em;
    font-size: large;
    height: 3em;
    line-height: 3em;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 4px;
    text-decoration: none;
}

.animal-nav a:hover {
    background-color: var(--contrast) !important;
}

.animal-container {
    display: block;
    height: min-content;
    margin-bottom: 3em;
}

.animal-content {
    margin: 0 3em 0 3em;
}

#dog, #cat {
    margin-top: 3em;
}

.animial_ours {
    display: block;
    width: 90%;
    border-radius: 5%;
    margin: auto;
}

#dog h1, #cat h1 {
    color: var(--contrast);
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.40);
    width: 30% !important;
    display: inline-block;
    padding-top: 2em;
    margin: 1em;
}

.card p {
    margin: 2em;
}

.card-container {
    text-align: center;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 1100px) {
    
    /* .animal-nav {
        align centre
    } */
    
    .card {
       margin: 0.5em;
       width: 100% !important;
    }

}

/*******************************************/
/* Fundraising Page */
/*******************************************/

.fr-header {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 2em;
}

.fr-column {
    float: left;
    width: 50%;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body, h1, h2, h3, h4, h5, p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--font);
}

.fr-month {
    margin-top: 2em;
    text-align: center;
}

.fr-desc {
    margin-top: 1em;
    text-align: center;
    font-size: 1.3em;
}

.fr-event-date{
    text-align: center;
    font-size: 1.2em;
}

.fr-event-desc {
    text-align: center;
    font-size: 1.1em;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 1100px) {
    
    body, h1, h2, h3, h4, h5, p {
        font-size: smaller;
    }

    .smaller-column {
        width: 100%;
    }
}

/*******************************************/
/* Contact Us Page */
/*******************************************/

/**************/
/* Page Title */
/**************/

#form_header {
    color: var(--font);
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3em;
}

/********/
/* Form */
/********/

form {
    border-radius: 5px;
    background-color:var(--background);
    color: var(--font);
    padding: 20px;
    width: 50%;
    margin: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 3em;
}

form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    resize: none;
}

form input[type=checkbox], select {
    padding: 12px 20px;
    margin: 8px 0;
    align-self: flex-start;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

form input[type=submit] {
    width: 25%;
    background-color: var(--main);
    color: var(--font);
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    margin-top: 3em;
    display: block;
}

form input[type=reset] {
    width: 25%;
    background-color: var(--main);
    color: var(--font);
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    display: block;
    margin-top: 1em;
}

form input[type=submit]:hover {
    background-color: var(--contrast);
    font-family: 'Montserrat Alternates', sans-serif;
}

form input[type=reset]:hover {
    background-color: var(--contrast);
    font-family: 'Montserrat Alternates', sans-serif;
}


/*******************/
/* Contact Details */
/*******************/

.cu-hr {
    width: 50%;
    margin-top: 2em;
}

.cu-row {
    padding-top: 3em;
}

.cu-column {
    float: left;
    width: 50%;
}

/***********/
/* Address */
/***********/

.cu-address {
    float: right;
    margin-right: 5em;
}

/**************/
/* Map iframe */
/**************/

.cu-details iframe {
    width: 350px;
    height: 350px;
}

/*************************************/
/* Media Query for responsive design */
/*************************************/

@media only screen and (max-width: 900px) {
    
    .cu-smaller-column {
        width: 100%;
    }

    .cu-address {
        float: none;
        text-align: center;
        margin-bottom: 2em !important;
    }

    .cu-details iframe {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    form input[type=submit] {
        width: 100%;
    }
    
    form input[type=reset] {
        width: 100%;
    }

}